<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/{{this_course.id}}/destroy" method="post">
        {% csrf_token %}
        <div>
            <h1>Are you sure you want to delete this course?</h1>
            <p>Name:{{this_course.course_name}}</p>
            <p>Description:{{this_course.courses.course_description}}</p>
            <button type="submit" name="yes_delete" class="btn btn-primary btn-lg">Yes! I want to delete this</button>
            <button type="submit" name="no_delete" class="btn btn-primary btn-lg">No! I want to delete this</button>

        </div>
    </form>
</body>

</html>